<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="google" value="notranslate">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>萌直播 - 一个萌萌的直播姬</title>

    <!-- Favicon -->
    <link rel="icon" href="Logo.png">

    <link href="style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

</head>

<body>
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>


    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <div><img style="height:72px;" src="/Logo2.png"/></div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">首页</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/live">直播预览</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://github.com/MoeLive/MoeLive">开源源代码</a>
                                    </li>
                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="#download">立即下载</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="#download">立即下载</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <h2>萌直播</h2>
                        <h3>萌</h3>
                        <p>一个让你变得萌萌的直播姬</p>
                    </div>
                    <div class="get-start-area">
                        <!-- Form Start -->
                        <form action="#download"  class="form-inline">
                            <input type="submit" class="submit" value="立即下载">
                        </form>
                        <!-- Form End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome thumb -->
        <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.5s">
            <img src="/背景图改.png" alt="">
        </div>
    </section>
    <!-- ***** Wellcome Area End ***** -->
    <section class="special-area bg-white section_padding_100" id="preview">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>直播预览</h2>
                        <div class="line-shape"></div>
                    </div>
                    <!-- Video Area Start -->
                    <div class="video-area" style="background-image: url(img/black.jpg);">
                        <div class="video-play-btn">
                            <a href="/preview" class="video_btn">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="download">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="special_description_img">
                        <img src="1_主页.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5 ml-xl-auto">
                    <div class="special_description_content">
                        <h2>欢迎您的使用</h2>
                        <p>萌直播为支持32位好64位的高于Windows8的操作系统，为了您更好的直播，推荐使用8GB以上内存的计算机</p>
                        <div class="app-download-area">
                            <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <!-- Google Store Btn -->
                                <a href="#">
                                    <i class="fa fa-windows"></i>
                                    <p class="mb-0">
                                        <!-- <span>不低于</span> -->
                                         Windows 32bit</p>
                                </a>
                            </div>
                            <div class="app-download-btn wow fadeInDown" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
                                <!-- Apple Store Btn -->
                                <a href="#">
                                    <i class="fa fa-windows"></i>
                                    <p class="mb-0">
                                        <!-- <span>不低于</span>  -->
                                        Windows 64bit</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="footer-contact-area section_padding_100 clearfix" id="download">
        <div class="container">
            <div class="row">
                    <div class="col-lg-6 col-xl-5 ">
                            <div class="special_description_content">
                                <h2>移动版</h2>
                                <p>逛漫展，参加茶会，甚至直播宅舞。只需点击推送，您的粉丝即可在您常驻的直播平台看到您的直播</p>
                                <div class="app-download-area">
                                    <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                        <a href="https://github.com/MoeLive/MoeLive-AndroidClient/releases/download/V1.0/MoeLive.apk">
                                            <i class="fa fa-android"></i>
                                            <p class="mb-0">
                                                <span>4.1以上</span>
                                                Android</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="col-lg-6 ml-xl-auto">
                    <div class="special_description_img">
                        <img src="/Android.png" style="height: 500px;"alt=""/>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->
        <div class="footer-text">
            <h2>萌直播</h2>
        </div>
        <!-- social icon-->
        <div class="footer-menu">
            <nav>
                <ul>
                    <li>
                        <a href="https://github.com/MoeLive/MoeLive">萌直播源代码</a>
                    </li>
                    <li>
                        <a href="https://github.com/MoeLive/MoeLive-AndroidClient/">萌直播移动版源代码</a>
                    </li>
                    <li>
                        <a href="https://github.com/MoeLive/MoeLive-PreviewServer">测试直播后端源码</a>
                    </li>
                    <li>
                        <a href="#">下载</a>
                    </li>
                    <li>
                        <a href="#">联系我们</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Foooter Text-->
        <div class="copyright-text">
            <!-- ***** Removing this text is now allowed! This template is licensed under CC BY 3.0 ***** -->
            <p>Copyright ©2018 黑客马拉松萌直播团队
            </p>
        </div>
    </footer>
    <!-- ***** Footer Area Start ***** -->

    <!-- Jquery-2.2.4 JS -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="js/active.js"></script>
</body>

</html>