<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" value="notranslate">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>直播演示</title>
    <style>
    html {
   background: url(/img/livebk.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
    </style>
</head>
<body>
        <div id='app'></div>
        <!-- <script src="/static/js/live.ce22e4299e298853.js"></script> -->
        <script src="/bundle.js"></script>
</body>
</html>